# Documentation:
# https://direnv.net/man/direnv-stdlib.1.html

# export WARP_BOOTSTRAPPED="${WARP_BOOTSTRAPPED}"
if [ -z "${NODE_ENV+x}" ]; then
  export NODE_ENV=development
fi
if [ -z "${DEPLOYMENT_STAGE+x}" ]; then
  export DEPLOYMENT_STAGE=$(whoami)
fi

strict_env
layout node

load_env_file() {
  if [[ -f $1 ]] ; then
    echo "Loading $1"
    # Unset existing variables, allowing them to be overriden
    unset $(grep -v '^#' "$1" | sed -E 's/=.*//')
    # Load 1password-compatible .env file
    # https://github.com/venkytv/direnv-op/blob/db976ce107a2f58fb7465a7d2f0858a37b32e1f1/oprc.sh
    direnv_load op run --env-file "$1" --no-masking -- direnv dump
    watch_file $1
  # else
  #   echo "No $1 found"
  fi
}

# Load .env files following Next.js order of precedence
# https://nextjs.org/docs/pages/building-your-application/configuring/environment-variables#environment-variable-load-order
load_env_files() {
  load_env_file .env
  load_env_file .env.$DEPLOYMENT_STAGE
  load_env_file .env.local
  load_env_file .env.$DEPLOYMENT_STAGE.local
  echo "All env file loaded"
}

load_env_files
use nix
